* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
a {
    color: #fff !important;
}
p {
    margin: 0px;
}
section {
    padding: 60px 0px;
}
#home {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url('./images/header-bg.jpg'),linear-gradient(rgba(16,29,44,0.95),rgba(16,29,44,0.95));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#home .container {
    position: relative;
    height: 100%;
    padding: 0px;
}
.hamburger-menu {
    position: fixed;
    top: 15px;
    right: 5px;
    z-index: 999;
    width: 50px;
    height: 50px;
    background-color: #101D2C;
    display: flex;
    border-radius: 4px;
    cursor: pointer;
}
.hamburger-menu .fas {
    font-size: 30px;
    margin: auto;
    color: rgba(198,153,99,0.7);
}
.hamburger-menu .fa-times {
    display: none;
}
.hamburger-menu .fa-times.open {
    display: block;
}
.hamburger-menu .fa-bars.open {
    display: none;
}
.navbar-brand {
    position: absolute;
    top: 10px;
    left: 50%;
    width: 100%;
    max-width: 100px;
    transform: translateX(-50%);
    transition: opacity 650ms;
}
.navbar-brand:hover {
    opacity: 0.6;
}
.nav-list {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 900;
    width: 100%;
    height: 100vh;
    list-style: none;
    background-color: #101D2C;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: scale(0);
    transition: opacity 650ms;
}
.nav-list.open {
    opacity: 1;
    transform: scale(1);
}
.hero-text {
    position: absolute;
    top: 45%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-45%);
}
.hero-text .display-4 {
    font-family: 'Niconne',cursive;
    color: #c69963;
}
.hero-text .btn {
    width: 100px;
    padding: 5px 0px !important;
    border: 1px solid #c69963;
    position: relative;
    overflow: hidden;
}
.hero-text .btn::before {
    content: "";
    position: absolute;
    top: 0%;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg,transparent,rgba(255,255,255,0.3),transparent);
    transition: all 650ms;
}
.hero-text .btn:hover::before {
    left: 100%;
}
.about .btn {
    width: 150px;
    color: #c69963 !important;
    transition: background-color 650ms;
}
.about .btn:hover {
    color: #fff !important;
    background-color: #c69963;
}
.section-heading h4 {
    text-transform: uppercase;
    color: #101D2C;
    line-height: 0;
    letter-spacing: 1px;
    font-family: 'Teko',sans-serif;
    font-weight: 300;
}
.section-heading .display-4 {
    font-family: 'Niconne',cursive;
    color: #c69963;
}
.menu {
    background-color: #101D2C;
}
.menu .container .row .shop-info .fas {
    color: #c69963;
    font-size: 50px;
}
.menu .container .row .shop-info .mb-4 {
    font-family: 'Teko',sans-serif;
    font-size: 25px;
    font-weight: 300;
}
.menu .container .row .shop-info p,.menu .container .row .shop-info address {
    color: rgba(255,255,255,0.5);
}
hr {
    border-top: 1px solid rgba(255,255,255,0.05);
}
.container-fluid .no-gutters .point-left,.container-fluid .no-gutters .point-right {
    position: relative;
    background-color: #fff;
    display: flex;
}
.container-fluid .no-gutters .point-left::before,.container-fluid .no-gutters .point-right::before {
    content: "";
    position: absolute;
    top: -12px;
    left: 50%;
    z-index: 1;
    width: 25px;
    height: 25px;
    background-color: inherit;
    transform: translateX(-50%) rotate(45deg);
}
.container-fluid .no-gutters .menu-item-desc {
    padding: 50px 10px;
    color: #212529;
    margin: auto;
}
.container-fluid .no-gutters .menu-item-desc h6 {
    color: #c69963;
    font-size: 20px;
}
.container-fluid .no-gutters .menu-item-desc h1 {
    color: #101D2C;
    letter-spacing: 1px;
    font-family: 'Teko',sans-serif;
    font-size: 30px;
    font-weight: 300;
}
.chef .container .row .card-body h1 {
    font-size: 25px;
    letter-spacing: 1px;
    font-family: 'Teko',sans-serif;
    font-weight: 300;
}
.chef .container .row .card-body h6 {
    font-size: 16px;
    color: #c69963;
}
footer {
    background-color: #101D2C;
    color: rgba(255,255,255,0.5);
}
@media only screen and (min-width:1100px){
    .point-left::before {
        left: -12px;
    }
    .point-right::before {
        right: -12px;
    }
    .point-left::before,.point-right::before {
        display: block;
        top: 50%;
        left: initial;
        transform: translate(0,-50%) rotate(45deg);
    }
    .menu-item-desc p {
        display: none;
    }
    .menu-item-desc .btn {
        color: #fff !important;
        background-color: #c69963;
    }
}
@media only screen and (min-width:770px){
    #home .container {
        padding: 0px 15px;
    }
    .hamburger-menu {
        display: none;
    }
    .navbar-brand {
        position: initial;
        transform: initial;
    }
    .nav-list {
        position: initial;
        width: initial;
        height: initial;
        background-color: initial;
        opacity: initial;
        transition: initial;
        transform: initial;
        flex-direction: row;
        margin: 0px;
        padding: 0px;
    }
    .nav-item {
        margin: 0px 30px;
    }
    .nav-item:last-child {
        margin-right: 0px;
    }
    .nav-link {
        position: relative;
        padding: 0px;
    }
    .nav-link::before {
        content: "";
        position: absolute;
        left: 0px;
        bottom: -3px;
        background-color: #c69963;
        width: 100%;
        height: 2px;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 650ms;
    }
    .nav-link:hover::before {
        transform: scaleX(1);
    }
}
@media only screen and (min-width:768px){
    .btn {
        width: 150px;
    }
}
@media only screen and (min-width:576px){
    .navbar-brand {
        max-width: 150px;
    }
    .hamburger-menu {
        top: 35px;
        right: 25px;
    }
    .point-left::before,.point-right::before {
        display: none;
    }
    .menu-item-desc {
        padding: 50px 20px;
    }
}